* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}

nav {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    border-radius: 25px;
    cursor: pointer;
}

nav .btn {
    color: whitesmoke;
    background: #333;
    padding: 15px 30px;
    border-radius: 30px;
}

.content {
    width: 100%;
    height: 85vh;
    display: flex;
}

.left {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left #color-name {
    font-size: 28px;
    padding-left: 2%;
    color: #d5c7ad;
}

.right {
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;
}

.right img {
    width: 100%;
    height: 100%;
}

.brand {
    color: #d5c7ad;
    font-weight: 800;
    font-size: 20px;
}

.model {
    color: silver;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 35px;
}

.description {
    margin: 3% 0;
    line-height: 1.4;
}

.pick-color {
    margin: 2% 0;
    color: blue;
}

.color-select div {
    background: #333;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.color-select {
    display: flex;
}

.color-select #gold {
    background: #d5c7ad;
}
.color-select #silver {
    background: #d8d9d3;
}
.color-select #blue {
    background: #a4bacf;
}
.color-select #green {
    background: #6f816e;
}
.color-select #graphite {
    background: #5a5955;
}


